# Def never commit these
.env

# Not needed
node_modules/
dist
dist-ssr
*.local

# Temporarily not needed (WIP)
postcss.config.js
tailwind.config.js

# Personal/temporary files, ignore this
synthesia.code-workspace
.DS_Store
db_cluster-20-05-2024@11-18-08.backup
db_cluster-20-05-2024@11-18-08.backup.gz
dist/assets/index-63BfQeXy.js
tjojaygamnzkipjsrnab.storage.zip