.Universe {
  display: flex;
  flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 0 10em;
  background-color: #ddd5e4;
	color: black;
	font-size: calc(8px + 1vmin);
  font-family: 'Courier New', Courier, monospace;
}

.Universe h1 {
	justify-content: start;
}

.UniverseBtn {
  border: none;
  background: none;
  font: inherit;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  font-size: large;
  padding: 10px 0;
}

.Palettes {
  display: flex;
  flex-direction: column;
}

.Transmission {
	font-style: oblique;
}

.StepTransition {
  padding: 10px;
}

.Next {
  align-items: end;
}

.NavLink {
  color: #57545a;
}

/* *** IDs *** */

#enter {
  padding: 10px 25px;
}

.ColorBox {
  padding: 5px;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  text-align: center;
  margin: 30px 0;
}

.ColorPickBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.ColorCard {
  height: 185px;
  width: 33%;
  border-radius: 5px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.ColorCard p {
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* color: hsl(0, 255, 255);
  mix-blend-mode: difference; */
}

.ColorHolder {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.TextShiftLeft {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.TextShiftRight {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.TextBubble {
  background-color: #F1F3F4;
  border-radius: 25px;
}

.TBLeft {
  border-bottom-left-radius: 0;
  padding: 5px 10px;
}

.TBRight {
  border-bottom-right-radius: 0;
  padding: 5px 10px;
}

.TrackAudio {
  display: flex;
  flex-direction: column;
}

.ColorSubmit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  padding: 10px 50px;
  background-color: white;
  border-radius: 50px;
  margin: 15px;
  cursor: pointer;
}

.ColorSubmit:hover {
  background-color: #F1F3F4;
}

.FormProgress {
  margin: 10px;
}

.FormProgress span {
  padding: 10px;
}

.BoldID {
  font-weight: bold;
}

.colorBlocks {
  display: flex;
  margin: 15px;
  flex-wrap: wrap;
}

.allPalettes {
  width: 50vw;
}

.colorPalettePalettePage {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  padding: 5px;
  margin: 5px 0;
  max-height: 100vh;
  gap: 10px;
}

.paletteTrackTitle {
  display: flex;
  padding: 0 10px;
  width: 40%;
  border: 1px solid black;
}

.paletteTrackTitle p {
  overflow: auto;
  overflow-wrap: break-word;
}

.paletteColorBlocks {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  border: 1px solid black;
  max-width: 40%;
  width: 40%;
}

.PaletteDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trackTable {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 3px double #57545a;
  border-radius: 15px;
  padding: 15px;
  max-height: 100vh;
  margin-top: 10px;
}

.trackTable h4 {
  text-decoration: underline;
}

.trackListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
}

.sideTrackList li {
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
}

.selectedTrack {
  border: 1px solid black;
  text-decoration: none;
}

.ColorBlock {
  /* width: 35px;
  height: 15px;
  margin: 5px; */
  font-size: 8px;
}

.ColorBlockSide {
  width: 20px;
  height: 20px;
}

.TrackNav {
  font-size: 11px + 1rem;
  font-style: italic;
  text-decoration: underline;
  border-radius: 25px;
  margin: 5px;
  cursor: pointer;
}

.navButtons {
  display: flex;
  justify-content: space-between;
}

.mobileNav {
  font-style: italic;
  font-size: calc(1rem - 3px);
  text-decoration: underline;
  border: none;
}

.disabledMobileNav {
  margin: 0 1rem;
  font-style: italic;
  font-size: 1rem;
  text-decoration: underline;
  border: none;
  opacity: 25%;
}

/* **** MEDIA QUERIES **** */
@media (max-width: 768px) {
  .allPalettes {
    width: 80vw;
  }
}

/* I have no idea what is going on down here... (11/20/24) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .Universe {
    font-size: calc(10px + 1vmin);
  }

  .ColorHolder {
    width: 80%;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .Universe {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 0 10em;
    background-color: #ddd5e4;
    color: black;
    font-size: calc(8px + 1vmin);
    font-family: 'Courier New', Courier, monospace;
  }
  .ColorHolder {
    width: 60%;
  }
  .trackTable {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px double #57545a;
    border-radius: 15px;
    padding: 15px;
    max-height: 100vh;
    width: 80vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .ColorHolder {
    width: 50%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .ColorHolder {
    width: 40%;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}