.App {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  min-height: 100vh;
  font-size: calc(8px + 2vmin);
  margin: 0 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 0 3rem;
}

.App-link {
  color: #57545a;
}

.smol-link {
  font-size: calc(7px + 1vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* *** END DEFAULT *** */

/* *** Auth & Account *** */

.authWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}



/* *** Navbar *** */
.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}





/* *** MISC. *** */

.loginBlock {
  text-align: center;
}

button {
  font-size: calc(5px + 1vmin);
  color: #57545a;
  background: #ffffff;
  border: solid 1px black;
  border-radius: 5px;
}

.Navbar {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.colorPalette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.colorBlock {
  width: 20px;
  height: 20px;
}